@charset "UTF-08";
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lobster&family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Lobster&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

body{
    background-color: black;
    margin: 0%;
    height: 100vh;
}
section{
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}
nav{
    background-color: black;
    margin:auto;
    text-align: center;
    padding-bottom: 2px;
    margin-top: 50px;
    margin-bottom: 50px;

}
nav > h1 {   
    color: white;
    font-family: "Passion One", sans-serif;
    margin-bottom: 5px;
    font-size: 50px;
}
h3{
    color: white;
    margin-bottom: 20px;
    font-size: 1em;
}
h3 > a {
    text-decoration: none;
    color: white;
    font: bolder;
}
h3 > a:hover{
    text-decoration: underline;
}
article{
    font-family: "Sriracha", cursive;
    width: 300px;
    padding: 20px;
    font-size: 20px;
}
#paragrafo02 > p{
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 10px;
    background-color: rgba(27, 27, 27, 0.596);
    color: white;
    height: 300px;
    width: 250px;
    position: relative;
}
.imagemdefundo{
    background-image: url('imagens/background001.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}
#paragrafo05 > p{
    border: 1px solid rgba(0, 0, 0, 0.123);
    padding: 10px;
    background-color: rgba(27, 27, 27, 0.61);
    color: white;
    height: 300px;
    width: 250px;
    position: relative;
}
.imagemdefundo02{
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
}
footer{
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 10px;
}
strong{
    font: bolder;
    color: rgb(236, 27, 114);
}